<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../../head')  %>
    <title></title>
  </head>
  <body>
    <div id="content">
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../../../Image/about_WH.jpg');"></div>
        <div class="content-center">
          <div class="container">
            <h1 class="title">This is our great company.</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="container mb-3">
          <h2 class="mb-3">Submit lists</h2>
          <% for(var i=0; i < Object.keys(items).length; i++) { %>
            <p id = "whID<%=i%>" style="display: none"><%= items['item'+i].warehouseID %></p>
            <p id = "reqID<%=i%>" style="display: none"><%= items['item'+i].reqID%></p>
            <p id = "reqType<%=i%>" style="display: none"><%= items['item'+i].reqType%></p>
            <p id = "providerID<%=i%>" style="display: none"><%= items['item'+i].providerID%></p>
          <%}%>
          <table class="board-table table ">
            <thead class="thead-dark">
              <tr>
                <th>Title</th>
                <th>State</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < Object.keys(items).length; i++) { %>

                 <% if(items['item'+i].reqType == "rbb" || items['item'+i].reqType == "rba"){ %>
                   <tr class="table-warning">
                     <td><%= items['item'+i].warehouseID %></td>
                     <td>Pending approval</td>
                     <td style="float:right; padding:0px 10px 0px 0px;">
                       <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 0)">Cancel</button>
                     </td>
                   </tr>
                 <% } %>

                 <% if(items['item'+i].reqType == "rpbb"){ %>
                   <tr class="table-primary">
                     <td><%= items['item'+i].warehouseID %></td>
                     <td>Waiting for payment</td>
                     <td style="float:right; padding:0px 10px 0px 0px;">
                       <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 1)">Pay</button>
                       <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 0)">Cancel</button>
                     </td>
                   </tr>
                 <% } %>

                 <% if(items['item'+i].reqType == "rpa"){ %>
                   <tr class="table-success">
                     <td><%= items['item'+i].warehouseID %></td>
                     <td>Approved</td>
                     <td></td>
                   </tr>
                 <% } %>

                 <% if(items['item'+i].reqType == "rejected"){ %>
                   <tr class="table-danger">
                     <td><%= items['item'+i].warehouseID %></td>
                     <td>Rejected</td>
                     <td style="float:right; padding:0px 10px 0px 0px;">
                       <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 2)">Confirm</button>
                     </td>
                   </tr>
                 <% } %>

              <% } %>
            </tbody>

          </table>

        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script>
    function byClick(i, flag) {
      switch (flag) {
        case 0: // Cancel
          $.ajax({
            url: '/',
            dataType: 'json',
            type: 'POST',
            data: {answer: "Cancel",
                  reqID: document.getElementById('whID'+i).innerText,
                  //other things will be here
                }
          });
          break;
        case 1: // Pay
          $.ajax({
            url: '/',
            dataType: 'json',
            type: 'POST',
            data: {answer: "Pay",
                  reqID: document.getElementById('whID'+i).innerText,
                  //other things will be here
                }
          });
          break;
        case 2: // Confrim
          $.ajax({
            url: '/',
            dataType: 'json',
            type: 'POST',
            data: {answer: "Confirm",
                  reqID: document.getElementById('whID'+i).innerText,
                  //other things will be here
                }
          });
          break;
      }
    }
  </script>
</html>
