<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../../head')  %>
    <title></title>
  </head>
  <body>
    <div id="content">
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../../../Image/about_WH.jpg');"></div>
        <div class="content-center">
          <div class="container">
            <h1 class="title">This is our great company.</h1>
          </div>
        </div>
      </div>
      <div class="container">

        <div class="container mb-3">
          <h2 class="mb-3">Submit lists</h2>
          <% for(var i=0; i < Object.keys(items).length; i++) { %>
            <p id = "whID<%=i%>" style="display: none"><%= items['item'+i].warehouseID %></p>
            <p id = "reqID<%=i%>" style="display: none"><%= items['item'+i].reqID%></p>
            <p id = "reqType<%=i%>" style="display: none"><%= items['item'+i].reqType%></p>
            <p id = "buyerID<%=i%>" style="display: none"><%= items['item'+i].buyerID%></p>
            <p id = "area<%=i%>" style="display: none"><%= items['item'+i].area%></p>
          <%}%>
          <table class="board-table table ">
            <thead class="thead-dark">
              <tr>
                <th>Title</th>
                <th>State</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < Object.keys(items).length; i++) { %>
                <% if(items['item'+i].reqType == "ReqByBuyer" || items['item'+i].reqType == "ReqByAdmin"){ %>
                   <tr class="table-warning">
                    <td><%= items['item'+i].warehouseID %></td>
                     <td>Pending approval</td>
                     <td style="float:right; padding:0px 10px 0px 0px;">
                      <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 0)">Cancel</button>
                     </td>
                   </tr>
                 <% } %>
                 <% if(items['item'+i].reqType == "ReqPayByBuyer"){ %>
                   <tr class="table-primary">
                    <td><%= items['item'+i].warehouseID %></td>
                     <td>Waiting for payment</td>
                     <td style="float:right; padding:0px 10px 0px 0px;">
                      <paypal><script src="https://www.paypal.com/sdk/js?client-id=AX9DHIhQNLGR2SU10U4yxGWt3js_jloq6e_l3WQPiy_YhAQV8Hy4UqTUYshl8eJDSo-oMVNhJGoRC-_i"></script>
                        <script>
                          
                          paypal.Buttons({

                              createOrder:function(data,actions){
                                return actions.order.create({
                                  purchase_units:[{
                                    amount:{
                                          currency : "USD",
                                          value: 8
                                      }
                                  }]
                                });
                              },

                              onApprove: function(data,actions){
                                return actions.order.capture().then(function(details){
                                  byClick(<%=i%>, 1)
                                });
                              }
                          }).render('paypal');
                          </script></paypal>
                      <!-- <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 1)">Pay</button> -->
                      <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 0)">Cancel</button>
                     </td>
                   </tr>
                 <% } %>
                 <% if(items['item'+i].reqType == "ReqPayAcpt"){ %>
                   <tr class="table-success">
                    <td><%= items['item'+i].warehouseID %></td>
                     <td>Approved</td>
                     <td></td>
                   </tr>
                 <% } %>
                 <% if(items['item'+i].reqType == "Rejected"){ %>
                   <tr class="table-danger">
                    <td><%= items['item'+i].warehouseID %></td>
                     <td>Rejected</td>
                     <td style="float:right; padding:0px 10px 0px 0px;">
                      <button type="button" class="btn btn-sm" onclick="byClick(<%=i%>, 2)">Confirm</button>
                     </td>
                   </tr>
                 <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script>
    function byClick(i, flag) {
      switch (flag) {
        case 0: // Cancel
          $.ajax({
            url: '/MyWarehouse/Buy/Ans',
            dataType: 'json',
            type: 'POST',
            data: {answer: "Cancel",
                   reqID: document.getElementById('reqID'+i).innerText,
                  whID: document.getElementById('whID'+i).innerText,
                  reqType: document.getElementById('reqType'+i).innerText,
                  buyerID: document.getElementById('buyerID'+i).innerText,
                  area: document.getElementById('area'+i).innerText
                  //other things will be here
                },
                success:function(data){
              if(data==true){
                alert("주문이 정상적으로 취소되었습니다.");
                window.location.href = "/Buyer/MyWarehouse";
              }
              else{
                alert("에러가 발생했습니다.");
                window.location.href = "/Buyer/MyWarehouse";
              }
            }
          });
          break;
          case 1: // Pay
          $.ajax({
            url: '/Buyer/MyWarehouse/Buy/Ans',
            dataType: 'json',
            type: 'POST',
            data: {answer: "Accept",
                  reqID: document.getElementById('reqID'+i).innerText,
                  whID: document.getElementById('whID'+i).innerText,
                  reqType: document.getElementById('reqType'+i).innerText,
                  buyerID: document.getElementById('buyerID'+i).innerText,
                  area: document.getElementById('area'+i).innerText
                  //other things will be here
                },
                success:function(data){
                  if(data==true){
                    alert("주문이 정상적으로 처리되었습니다.");
                    window.location.href = "/Buyer/MyWarehouse";
                  }
                  else{
                  alert("에러가 발생했습니다.");
                  window.location.href = "/Buyer/MyWarehouse";
                }
              }
              
          });
          break;
        case 2: // Confirm
          $.ajax({
            url: '/Buyer/MyWarehouse/Buy/Ans',
            dataType: 'json',
            type: 'POST',
            data: {answer: "Confirm",
                  reqID: document.getElementById('reqID'+i).innerText,
                  whID: document.getElementById('whID'+i).innerText,
                  reqType: document.getElementById('reqType'+i).innerText,
                  buyerID: document.getElementById('buyerID'+i).innerText,
                  area: document.getElementById('area'+i).innerText
                  //other things will be here
                },
                success:function(data){
                if(data==true){
                  alert("확인하였습니다.");
                  window.location.href = "/Buyer/MyWarehouse";
                }
                else{
                  alert("에러가 발생했습니다.");
                  window.location.href = "/Buyer/MyWarehouse";
              }
            }
          });
          break;
      }
    }
  </script>
</html>
