<!-- 회원 정보 페이지 -->
<!DOCTYPE html>
<html>
  <head>
    <%- include('../head') %>
  </head>
  <body>
    <%- include('../nav') %>

    <div class="container mb-3">

      <h3 class="contentBoxTop"><%= session.memberID %></h3>

      <form class="user-form" action="/User/Edit" method="post">
        <fieldset disabled>
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="name" name="name" value= <%= session.name %>>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" id="email" name="email" value= <%= session.email %>>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>