<html>
  <head><%- include('../../head') %></head>
  <body>
    <div id="content">
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('./Image/about_WH.jpg');"></div>
        <div class="content-center">
          <div class="container">
            <h1 class="title">This is our great company.</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <table border="1">
          <% result.forEach(function (item, index) { %>
          <tr>
            <td><%= item.reqID %></td>
            <td><%= item.reqType %></td>
            <td><%= item.provideServiceID %></td>
            <td><%= item.buyerID %></td>
            <td><%= item.logID %></td>
          </tr>
          <% }); %>
          </table>
      </div>
    </div>
    <div class="overlay"></div>
  </body>
</html>
