<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../../head')  %>
    <title></title>
    <style media="screen">
      .card-header {
        font-size : 25px
      }
      .page-link {
        font-size : 20px !important
      }
    </style>
  </head>
  <body>
    <div id="content">
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../../../Image/about_WH.jpg');"></div>
        <div class="content-center">
          <div class="container">
            <h1 class="title">This is our great company.</h1>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="jumbotron" style = "text-align : center">
          <h1>request list</h1>
        </div>
        <div id="accordion" style = "height : 50vh">
            <% result.forEach(function (item, index) { %>

              <div class="card mb-1">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        <table border="1">
                            <tr>
                                <td><%= item.reqID %></td>
                                <td><%= item.reqDate %></td>
                                <td><%= item.providerID %></td>
                                <td><%= item.warehouseID %></td>
                                <td><%= item.warehouseName %></td>
                                <td>
                                    <div class="btn-group">
                                        <%if(item.reqType=="requestEnroll"){%>
                                            <button type="button" class="btn btn-primary">ok</button>
                                                <button type="button" class="btn btn-danger">reject</button>
                                        <%}%>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
            <% }); %>
        <div>
          <ul class="pagination" >
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </body>
</html>
